
div#conteudo_feed{
  background-color:  rgba(246, 59, 59, 0.753);
  padding: 10px 10px 10px 10px; 
}
div#content1{
    background-color:  rgba(202, 202, 202, 0.753);
}
button{
    background-color: rgba(246, 127, 59, 0.753);
    color: rgb(0, 0, 0);
    width: 200px;
    height: 60px;
    border: 2px;
    border-color: black;
    border-radius: 15px;
}
input{
    margin-top:20px;
    height: 60px;
    width: 200px;
    border-radius: 5px; 
}
input[type="submit"]{
    background-color: rgba(255, 255, 255, 0.753);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    border-top-color: black;
}
a:link {
    color: yellow;
}
