{% extends 'main_firebase/main.html' %}
{% load static %}
{% block title %}Home{% endblock%}
{% block content1 %}

{% if message %}
<script>
	alert('{{ message }}');
</script>
{% endif %}
{% if email %}
<div id = "div_user", name = "div_user" class = "col">
	<strong>Seja bem vindo: : {{email}}   
	<button type="button" onclick="location.href='Create/' ">Criar publicação</button>
	<button type="submit" onclick="'/Create/'">SignUp</button> 
	<button type="button" onclick="location.href='signUp/' ">vazio </button>
	<button type="button" onclick="location.href='signUp/' ">vazio</button>
	<button type="button" onclick="location.href='signUp/' ">vazio</button>
	<button type="button" onclick="location.href='logout/' ">Logout</button>

</div>
{% endif %}
<form class="d-flex" role="search" method="post" action="../searchcontent/">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="pesquisa">
    <button class="btn btn-outline-success" type="submit" value = "Find">Search</button>
</form>

<div class="col">
    <div id ="conteudo_feed" class="tm-main-content">
        <section class="t center m-section  text-center">
            {% for data in conteudo %}
                <h2>titulo: {{data.0}}</h2>
                <h3>Subtitulo: {{data.1}}</h3>
                <img src="{% static "/img/svg/logo.svg" %}" width="150px" />
                <h4>autor: {{data.3}} {{data.4}}</h4>
                

                <hr>
            {% endfor %}
            </section>
    </div>        
</div>
{% endblock %}