{% extends 'main_firebase/main.html' %}
{% load static %}
{% block title %}registration{% endblock%}
{% block content1 %}

{%if msg%}
	<script>
		window.alert('{{msg}}');
	</script>
{% endif%}
	<div class="back">
		<a href="/"><i class='fas fa-arrow-left' style='font-size:22px'></i>Back</a>
	</div>
	<div class="container">
		<div class="inner">
			<h1>Redefina seu email de entrada</h1><br>
			<form action="/postReset/" method="POST">
				{% csrf_token %}
				<input type="email" name="email" id="email" placeholder="Enter Your email" required><br><br>
				<input type="submit" value="Send Reset Link">
			</form>
		</div>
	</div>
	{% endblock %}