{% extends 'main_firebase/Home.html' %}
{% load static %}
{% block title %}login{% endblock%}
{% block content1 %}
{% if message %}
<script>
	alert('{{ message }}');
</script>
{% endif %}
<strong>O autor não esta na lista?</strong><button type="button" onclick="location.href='../Add_autor/' ">Add Autor</button></p>
<form action="../Post_autor/" method="post">
	{% csrf_token %}
<br/>
<td><label for="district">Autores</label></td><br>
<p><select name="district" id="district" class="district-dropdown">
   <option value="">--Select District--</option>
   {% for Autor in Autor %}
		<option>{{Autor.codigo_autor}} {{Autor.nome}} {{Autor.sobrenome}} </option>
   {% endfor %}
   </select>

<!-- Enter Your Titulo da publicação: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input -->
<label for="Email">Titulo</label>
<input type="text"id="txtTitulo" name="txtTitulo"><br><br>
<!-- Enter Your subtitulo da publicação: -->
<label for="text">Subtitulo</label>
<input type="email"id="txtSubtitulo" name="txtSubtitulo"><br><br>
<!-- Enter Your Autor: -->
<label for="text">Autor</label>
<input type="email"id="txtAutor" name="txtAutor"><br><br>
<!-- Enter Your Texto: -->
<label for="text">Texto</label>
<!--<textarea id="txtTexto" rows="10" cols="70" name="txtTexto"> </ textarea>-->
<p><input type="checkbox" checked="checked" name="checkVisibilidade"> <strong>Visivel?</strong></p>	

<button type="submit" onclick="Post_autor">Cadastrar Autor</button> 
</form>
<button type="button" onclick="location.href='../Home_page_admin/' ">Cancelar</button>
</div>
{% endblock %}



















